$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster');



* {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

h1
 {
  text-align: center;
  color: #red;
  font-family: 'Lobster', cursive;
}

#board {
  width: 300px;
  height: 300px;
  float: none;
  margin: auto;
}

.cell {
  float: left;
  width: 100px;
  height: 100px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 100px;
  text-align: center;
  transition: background-color 1s ease;
}

.cell:hover {
  background-color: darkcyan;
  color: darkmagenta;
}

.cell:nth-of-type(3) {
  border-right: 0;
}

.cell:nth-of-type(7n),
.cell:nth-of-type(8n),
.cell:nth-of-type(9n) {
  border-bottom: 0;
};
