$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster');

.board {
  align-content: center;
  align-items: center;
  display: center;
  height: 300px;
  justify-content: center;
  margin: auto;
}
h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: red;
}
h3{
  text-align: center;
  font-family: 'Lobster', cursive;
  color: red;
}
header {
  color: red;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
}
.message {
  color: red;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

p {
  color: black;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

.row {
  display: flex;
  height: 200px;
  margin: auto;
  text-align: center;
  width: 500px;
}
.square {
  border: 3px solid black;
  display: flex;
  flex-basis: 33%;
  font-size: 155px;
  font-weight: bold;
  text-align: center;
}
.square:hover {
  color: red;
  cursor: pointer;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
//change password
.after-signin{
  display: none;
}
