$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
.board {
  align-content: center;
  align-items: center;
  display: center;
  height: 300px;
  justify-content: center;
  margin: auto;
}
header {
  color: #2ECAFF;
  font-family: fantasy;
  font-weight: bolder;
  text-align: center;
}
.message {
  color: #2ECAFF;
  font-size: 155px;
  font-weight: bold;
  text-align: center;
}
p {
  color: black;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

.row {
  display: flex;
  height: 200px;
  margin: auto;
  text-align: center;
  width: 500px;
}
.square {
  border: 3px solid black;
  display: flex;
  flex-basis: 33%;
  font-size: 155px;
  font-weight: bold;
  text-align: center;
}
.square:hover {
  color: #2ECAFF;
  cursor: pointer;
}
.wrapper {
  min-height: 100%;
  position: relative;
}
//change password
.after-signin{
  display: none;
}
